In [272]:
# AAI-540-Group4 Project
## EDA, DataProcessing, Feature Engineering Experiments
### Geoffrey Fadera

In [1]:
import numpy as np
import pandas as pd
from IPython.display import clear_output
import time
import json

## (1) load relevant json files

In [2]:
# load list of annotated (unique) bounding boxes in the entire dataset
with open('./caltech_bboxes_20200316.json', 'r') as file:  # Replace with your file name if different
    bbox_meta = json.load(file)

# load list suggested datasplit
with open('./CaltechCameraTrapsSplits_v0.json', 'r') as file:  # Replace with your file name if different
    data_split_meta = json.load(file)

In [3]:
bboxes_images_df = pd.DataFrame(bbox_meta['images'])
bboxes_annotations_df = pd.DataFrame(bbox_meta['annotations'])
bboxes_categories_df = pd.DataFrame(bbox_meta['categories'])

In [5]:
print("From BBOX Annotations File:")
print(f"\tnum unique images: {len(bboxes_images_df)}")
print(f"\tnum unique bbox annotations: {len(bboxes_annotations_df)}")
print(f"\tnum unique categories: {len(bboxes_categories_df)}")

From BBOX Annotations File:
	num unique images: 63025
	num unique bbox annotations: 65112
	num unique categories: 22

## (2) Create Feature Groups that can be derived from these two json files

In [19]:
bboxes_images_df.head()

,file_name,seq_id,height,id,frame_num,width,date_captured,rights_holder,seq_num_frames,location
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg,6f084ccc-5567-11e8-bc84-dca9047ef277,1494,5998cfa4-23d2-11e8-a6a3-ec086b02610b,1,2048,2011-05-13 23:43:18,Justin Brown,3,33
1,588a679f-23d2-11e8-a6a3-ec086b02610b.jpg,6f12067d-5567-11e8-b3c0-dca9047ef277,1494,588a679f-23d2-11e8-a6a3-ec086b02610b,2,2048,2012-03-17 03:48:44,Justin Brown,3,115
2,593d68d7-23d2-11e8-a6a3-ec086b02610b.jpg,6f0f6778-5567-11e8-b5d2-dca9047ef277,1494,593d68d7-23d2-11e8-a6a3-ec086b02610b,3,2048,2011-06-28 15:29:42,Justin Brown,3,90
3,59fae563-23d2-11e8-a6a3-ec086b02610b.jpg,6f181999-5567-11e8-a472-dca9047ef277,1494,59fae563-23d2-11e8-a6a3-ec086b02610b,3,2048,2012-01-05 07:41:39,Justin Brown,3,46
4,595f7b9c-23d2-11e8-a6a3-ec086b02610b.jpg,701cb328-5567-11e8-8d4a-dca9047ef277,1494,595f7b9c-23d2-11e8-a6a3-ec086b02610b,2,2048,2014-09-28 01:00:53,Justin Brown,3,67

In [20]:
display(len(np.unique(bboxes_images_df['file_name'])))
display(len(np.unique(bboxes_images_df['id'])))

63025

63025

In [21]:
bboxes_annotations_df.head(3)

,image_id,id,bbox,category_id
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b,2a545520-cbf1-11e8-819c-970a9450cdbc,"[499.2, 711.68, 353.28000000000003, 199.679999...",1
1,588a679f-23d2-11e8-a6a3-ec086b02610b,2a54562e-cbf1-11e8-819c-970a9450cdbc,"[985.6, 783.36, 368.64, 230.39999999999998]",1
2,593d68d7-23d2-11e8-a6a3-ec086b02610b,2a54599e-cbf1-11e8-819c-970a9450cdbc,"[1779.2, 407.04, 61.440000000000055, 84.480000...",5

In [22]:
display(len(np.unique(bboxes_annotations_df['image_id'])))
display(len(np.unique(bboxes_annotations_df['id'])))

61945

65112

In [7]:
# 2.1 key (image_id) => LOCATION from bbox_meta['images']
image_id_to_location_df = bboxes_images_df[['id', 'location']].copy()
image_id_to_location_df.set_index('id', inplace = True)
image_id_to_location_df.head()

                                     location
id
5998cfa4-23d2-11e8-a6a3-ec086b02610b       33
588a679f-23d2-11e8-a6a3-ec086b02610b      115
593d68d7-23d2-11e8-a6a3-ec086b02610b       90
59fae563-23d2-11e8-a6a3-ec086b02610b       46
595f7b9c-23d2-11e8-a6a3-ec086b02610b       67

In [8]:
image_id_to_location_df.loc['59fae563-23d2-11e8-a6a3-ec086b02610b']

location    46
Name: 59fae563-23d2-11e8-a6a3-ec086b02610b, dtype: object

In [10]:
# 2.2 key (location) => train or val from the suggested datasplit json file
train_locations = data_split_meta['splits']['train']
val_locations = data_split_meta['splits']['val']

loc_to_splitType_df = pd.DataFrame({
    'location': np.unique(train_locations + val_locations),
    
})
loc_to_splitType_df['splitType'] = loc_to_splitType_df['location'].apply(lambda x: 'train' if x in train_locations else 'val')   
loc_to_splitType_df.set_index('location', inplace = True)
loc_to_splitType_df.head()

         splitType
location
0              val
1              val
10           train
100            val
101            val

In [11]:
# 2.3 use bbox annotation json as base and add location and train/val split type for each annotation entry
new_dataset_df = bboxes_annotations_df.copy()
new_dataset_df['location'] = new_dataset_df['image_id'].map(image_id_to_location_df['location'])
new_dataset_df['splitType'] = new_dataset_df['location'].map(loc_to_splitType_df['splitType'])
new_dataset_df.head()

,image_id,id,bbox,category_id,location,splitType
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b,2a545520-cbf1-11e8-819c-970a9450cdbc,"[499.2, 711.68, 353.28000000000003, 199.679999...",1,33,train
1,588a679f-23d2-11e8-a6a3-ec086b02610b,2a54562e-cbf1-11e8-819c-970a9450cdbc,"[985.6, 783.36, 368.64, 230.39999999999998]",1,115,train
2,593d68d7-23d2-11e8-a6a3-ec086b02610b,2a54599e-cbf1-11e8-819c-970a9450cdbc,"[1779.2, 407.04, 61.440000000000055, 84.480000...",5,90,train
3,59fae563-23d2-11e8-a6a3-ec086b02610b,2a545a84-cbf1-11e8-819c-970a9450cdbc,"[1456.0, 480.0, 156.79999999999995, 137.600000...",10,46,val
4,595f7b9c-23d2-11e8-a6a3-ec086b02610b,2a545dfe-cbf1-11e8-819c-970a9450cdbc,"[249.35160827635713, 798.4633789062436, 291.60...",99,67,val

In [12]:
# 2.4 category id to category name
cat_id_to_name_df = bboxes_categories_df[['id', 'name']].copy().sort_values(by='id')
cat_id_to_name_df.set_index('id', inplace = True)

cat_id_to_name_df

             name
id
1         opossum
3         raccoon
5        squirrel
6          bobcat
7           skunk
8             dog
9          coyote
10         rabbit
11           bird
14         lizard
16            cat
21         badger
30          empty
33            car
34           deer
37            cow
39            pig
40  mountain_lion
51            fox
66            bat
97         insect
99         rodent

In [ ]:
np.unique(bboxes_categories_df['name'])

In [37]:
# 3. show summary distribution per category 
new_ds_summary = []
new_ds_summary = pd.DataFrame({
    'category_id': cat_id_to_name_df.index.tolist(),
    })
new_ds_summary['category_label'] = new_ds_summary['category_id'].map(cat_id_to_name_df['name'])

new_ds_summary['num_train'] = new_ds_summary['category_id'].apply( 
    lambda x: len(new_dataset_df[(new_dataset_df['category_id'] == x) & (new_dataset_df['splitType'] == 'train')]))

new_ds_summary['num_val'] = new_ds_summary['category_id'].apply( 
    lambda x: len(new_dataset_df[(new_dataset_df['category_id'] == x) & (new_dataset_df['splitType'] == 'val')]))

new_ds_summary['total'] = new_ds_summary['num_train'] + new_ds_summary['num_val']



new_ds_summary

    category_id category_label  num_train  num_val  total
0             1        opossum       7162     4972  12134
1             3        raccoon       3076     4832   7908
2             5       squirrel       1852      796   2648
3             6         bobcat       2204     2844   5048
4             7          skunk        729      469   1198
5             8            dog       1850     1010   2860
6             9         coyote       4212     2293   6505
7            10         rabbit       5272      753   6025
8            11           bird       2735     1291   4026
9            14         lizard         54      123    177
10           16            cat       2999     1392   4391
11           21         badger         10       18     28
12           30          empty        163       23    186
13           33            car       1491     1066   2557
14           34           deer       3411     3017   6428
15           37            cow          0        0      0
16           39            pig          0        0      0
17           40  mountain_lion         44        0     44
18           51            fox        671      428   1099
19           66            bat          1        0      1
20           97         insect          7        0      7
21           99         rodent       1418      424   1842

In [17]:
new_dataset_df.head()
display(len(np.unique(new_dataset_df['image_id'])))
display(len(np.unique(new_dataset_df['id'])))

61945

65112

In [23]:
bboxes_annotations_df.head(3)

,image_id,id,bbox,category_id
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b,2a545520-cbf1-11e8-819c-970a9450cdbc,"[499.2, 711.68, 353.28000000000003, 199.679999...",1
1,588a679f-23d2-11e8-a6a3-ec086b02610b,2a54562e-cbf1-11e8-819c-970a9450cdbc,"[985.6, 783.36, 368.64, 230.39999999999998]",1
2,593d68d7-23d2-11e8-a6a3-ec086b02610b,2a54599e-cbf1-11e8-819c-970a9450cdbc,"[1779.2, 407.04, 61.440000000000055, 84.480000...",5

In [24]:
bboxes_annotations_df['image_id'] .value_counts().head(10)

598acda7-23d2-11e8-a6a3-ec086b02610b    9
59f79880-23d2-11e8-a6a3-ec086b02610b    9
5a1e530f-23d2-11e8-a6a3-ec086b02610b    9
598f7588-23d2-11e8-a6a3-ec086b02610b    9
59e10475-23d2-11e8-a6a3-ec086b02610b    9
59b7a98d-23d2-11e8-a6a3-ec086b02610b    9
59849691-23d2-11e8-a6a3-ec086b02610b    9
5992911e-23d2-11e8-a6a3-ec086b02610b    9
599a596e-23d2-11e8-a6a3-ec086b02610b    9
59a30c5b-23d2-11e8-a6a3-ec086b02610b    9
Name: image_id, dtype: int64

In [26]:
bboxes_annotations_df[bboxes_annotations_df['image_id']=='598acda7-23d2-11e8-a6a3-ec086b02610b']

,image_id,id,bbox,category_id
52748,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f87d4-cbf1-11e8-819c-970a9450cdbc,"[1482.24, 1139.2, 47.36, 35.84]",11
52749,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f88a6-cbf1-11e8-819c-970a9450cdbc,"[1459.2, 1160.96, 53.76, 49.92000000000016]",11
52750,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f898c-cbf1-11e8-819c-970a9450cdbc,"[1781.76, 1111.04, 92.16, 140.80000000000115]",11
52751,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f8a5e-cbf1-11e8-819c-970a9450cdbc,"[1587.2, 1208.32, 64.0, 46.079999999999835]",11
52752,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f8b26-cbf1-11e8-819c-970a9450cdbc,"[1487.36, 1104.6399999999999, 53.7600000000001...",11
52753,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f8bf8-cbf1-11e8-819c-970a9450cdbc,"[1303.04, 1108.48, 53.76, 53.760000000000005]",11
52754,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f8cc0-cbf1-11e8-819c-970a9450cdbc,"[980.48, 1128.96, 58.880000000000166, 53.76000...",11
52755,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f8d88-cbf1-11e8-819c-970a9450cdbc,"[1220.1654464285714, 1339.9595926339287, 48.49...",11
52756,598acda7-23d2-11e8-a6a3-ec086b02610b,2c2f8e5a-cbf1-11e8-819c-970a9450cdbc,"[1189.468125, 1324.896556919643, 47.3204910714...",11

In [28]:
np.unique(bboxes_categories_df['name'])

array(['badger', 'bat', 'bird', 'bobcat', 'car', 'cat', 'cow', 'coyote',
       'deer', 'dog', 'empty', 'fox', 'insect', 'lizard', 'mountain_lion',
       'opossum', 'pig', 'rabbit', 'raccoon', 'rodent', 'skunk',
       'squirrel'], dtype=object)

In [29]:
new_dataset_df[new_dataset_df['image_id'] == '5998cfa4-23d2-11e8-a6a3-ec086b02610b']

,image_id,id,bbox,category_id,location,splitType
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b,2a545520-cbf1-11e8-819c-970a9450cdbc,"[499.2, 711.68, 353.28000000000003, 199.679999...",1,33,train

In [32]:
bboxes_images_df.head(2)

,file_name,seq_id,height,id,frame_num,width,date_captured,rights_holder,seq_num_frames,location
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg,6f084ccc-5567-11e8-bc84-dca9047ef277,1494,5998cfa4-23d2-11e8-a6a3-ec086b02610b,1,2048,2011-05-13 23:43:18,Justin Brown,3,33
1,588a679f-23d2-11e8-a6a3-ec086b02610b.jpg,6f12067d-5567-11e8-b3c0-dca9047ef277,1494,588a679f-23d2-11e8-a6a3-ec086b02610b,2,2048,2012-03-17 03:48:44,Justin Brown,3,115

In [33]:
# load list of annotated (unique) bounding boxes in the entire dataset
with open('./cct_labels.json', 'r') as file:  # Replace with your file name if different
    tyler_json = json.load(file)

tyler_json_df = pd.DataFrame(tyler_json).T
tyler_json_df.head(3)

,label,category_id,bbox
5998cfa4-23d2-11e8-a6a3-ec086b02610b_0.jpg,opossum,1,"[499.2, 711.68, 353.28000000000003, 199.679999..."
588a679f-23d2-11e8-a6a3-ec086b02610b_0.jpg,opossum,1,"[985.6, 783.36, 368.64, 230.39999999999998]"
593d68d7-23d2-11e8-a6a3-ec086b02610b_0.jpg,squirrel,5,"[1779.2, 407.04, 61.440000000000055, 84.480000..."

In [34]:
# 3. show summary distribution per category 
tyler_ds_summary = []
tyler_ds_summary = pd.DataFrame({
    'category_id': cat_id_to_name_df.index.tolist(),
    })
tyler_ds_summary['category_label'] = tyler_ds_summary['category_id'].map(cat_id_to_name_df['name'])

tyler_ds_summary['total'] = tyler_ds_summary['category_id'].apply( 
    lambda x: len(tyler_json_df[(tyler_json_df['category_id'] == x)]))

tyler_ds_summary

    category_id category_label  total
0             1        opossum  12134
1             3        raccoon   7908
2             5       squirrel   2648
3             6         bobcat   5048
4             7          skunk   1198
5             8            dog   2860
6             9         coyote   6505
7            10         rabbit   6025
8            11           bird   4026
9            14         lizard    177
10           16            cat   4391
11           21         badger     28
12           30          empty    186
13           33            car   2557
14           34           deer   6428
15           37            cow      0
16           39            pig      0
17           40  mountain_lion     44
18           51            fox   1099
19           66            bat      1
20           97         insect      7
21           99         rodent   1842

In [40]:
len(set(bboxes_images_df['id']))

63025

In [41]:
len(set(bboxes_annotations_df['image_id']))

61945

In [42]:
# Get unique values from each column as sets
image_ids_set1 = set(bboxes_images_df['id']) # from bboxes_images_df
image_ids_set2 = set(bboxes_annotations_df['image_id'])

In [43]:
# Find items not common in both columns (symmetric difference)
not_common = list(image_ids_set1.symmetric_difference(image_ids_set2))

print(not_common)  # Output: [1, 2, 5, 6]

['59dc25fc-23d2-11e8-a6a3-ec086b02610b', '5967370c-23d2-11e8-a6a3-ec086b02610b', '59bac8fe-23d2-11e8-a6a3-ec086b02610b', '597b48c4-23d2-11e8-a6a3-ec086b02610b', '5a27d7d1-23d2-11e8-a6a3-ec086b02610b', '59c99d6e-23d2-11e8-a6a3-ec086b02610b', '58d47f83-23d2-11e8-a6a3-ec086b02610b', '598f78d4-23d2-11e8-a6a3-ec086b02610b', '59e5e0e8-23d2-11e8-a6a3-ec086b02610b', '59cb38a2-23d2-11e8-a6a3-ec086b02610b', '593100d9-23d2-11e8-a6a3-ec086b02610b', '5a13098e-23d2-11e8-a6a3-ec086b02610b', '5883e83f-23d2-11e8-a6a3-ec086b02610b', '598c5d1e-23d2-11e8-a6a3-ec086b02610b', '591b23e3-23d2-11e8-a6a3-ec086b02610b', '5a1e5139-23d2-11e8-a6a3-ec086b02610b', '5a24a88b-23d2-11e8-a6a3-ec086b02610b', '5a24a994-23d2-11e8-a6a3-ec086b02610b', '59973e69-23d2-11e8-a6a3-ec086b02610b', '58adc3d1-23d2-11e8-a6a3-ec086b02610b', '59484577-23d2-11e8-a6a3-ec086b02610b', '59b615e9-23d2-11e8-a6a3-ec086b02610b', '58af7850-23d2-11e8-a6a3-ec086b02610b', '5983083e-23d2-11e8-a6a3-ec086b02610b', '5a0968e2-23d2-11e8-a6a3-ec086b02610b', '58e59807-23d2-11e8-a6a3-ec086b02610b', '59ec52fb-23d2-11e8-a6a3-ec086b02610b', '59ddc324-23d2-11e8-a6a3-ec086b02610b', '5a17dd45-23d2-11e8-a6a3-ec086b02610b', '59bac967-23d2-11e8-a6a3-ec086b02610b', '59180a44-23d2-11e8-a6a3-ec086b02610b', '598ad0d3-23d2-11e8-a6a3-ec086b02610b', '58e2832e-23d2-11e8-a6a3-ec086b02610b', '59ec558b-23d2-11e8-a6a3-ec086b02610b', '5a1fe570-23d2-11e8-a6a3-ec086b02610b', '58c7f0c3-23d2-11e8-a6a3-ec086b02610b', '5a07cc50-23d2-11e8-a6a3-ec086b02610b', '5888bbfa-23d2-11e8-a6a3-ec086b02610b', '5973885f-23d2-11e8-a6a3-ec086b02610b', '59b6158b-23d2-11e8-a6a3-ec086b02610b', '5971f973-23d2-11e8-a6a3-ec086b02610b', '59484447-23d2-11e8-a6a3-ec086b02610b', '58ac0ef5-23d2-11e8-a6a3-ec086b02610b', '5a2310b0-23d2-11e8-a6a3-ec086b02610b', '59c99ec5-23d2-11e8-a6a3-ec086b02610b', '5998ce6e-23d2-11e8-a6a3-ec086b02610b', '5a07ccc4-23d2-11e8-a6a3-ec086b02610b', '59a7bcd7-23d2-11e8-a6a3-ec086b02610b', '591e3fc1-23d2-11e8-a6a3-ec086b02610b', '59862563-23d2-11e8-a6a3-ec086b02610b', '590b9ee1-23d2-11e8-a6a3-ec086b02610b', '5914ef1f-23d2-11e8-a6a3-ec086b02610b', '58a52e58-23d2-11e8-a6a3-ec086b02610b', '58d7a2b0-23d2-11e8-a6a3-ec086b02610b', '58e0f7ed-23d2-11e8-a6a3-ec086b02610b', '587680e7-23d2-11e8-a6a3-ec086b02610b', '59e77c33-23d2-11e8-a6a3-ec086b02610b', '5914f068-23d2-11e8-a6a3-ec086b02610b', '59b6150f-23d2-11e8-a6a3-ec086b02610b', '5a230f5d-23d2-11e8-a6a3-ec086b02610b', '5973869f-23d2-11e8-a6a3-ec086b02610b', '5976a569-23d2-11e8-a6a3-ec086b02610b', '599fbf61-23d2-11e8-a6a3-ec086b02610b', '58dc4bf1-23d2-11e8-a6a3-ec086b02610b', '5986245f-23d2-11e8-a6a3-ec086b02610b', '5984974e-23d2-11e8-a6a3-ec086b02610b', '58e93ac3-23d2-11e8-a6a3-ec086b02610b', '58e28138-23d2-11e8-a6a3-ec086b02610b', '59023868-23d2-11e8-a6a3-ec086b02610b', '591cb0de-23d2-11e8-a6a3-ec086b02610b', '596a4d8e-23d2-11e8-a6a3-ec086b02610b', '5a2af4b5-23d2-11e8-a6a3-ec086b02610b', '58f1072a-23d2-11e8-a6a3-ec086b02610b', '59edf117-23d2-11e8-a6a3-ec086b02610b', '5935a891-23d2-11e8-a6a3-ec086b02610b', '59ddc15b-23d2-11e8-a6a3-ec086b02610b', '59484696-23d2-11e8-a6a3-ec086b02610b', '5964200d-23d2-11e8-a6a3-ec086b02610b', '589608b9-23d2-11e8-a6a3-ec086b02610b', '592f6fb7-23d2-11e8-a6a3-ec086b02610b', '59e4414f-23d2-11e8-a6a3-ec086b02610b', '589e6876-23d2-11e8-a6a3-ec086b02610b', '5a04949e-23d2-11e8-a6a3-ec086b02610b', '592f72e9-23d2-11e8-a6a3-ec086b02610b', '59a94d31-23d2-11e8-a6a3-ec086b02610b', '598942f8-23d2-11e8-a6a3-ec086b02610b', '585c03a7-23d2-11e8-a6a3-ec086b02610b', '58ff0d5d-23d2-11e8-a6a3-ec086b02610b', '58a52ea1-23d2-11e8-a6a3-ec086b02610b', '58d16185-23d2-11e8-a6a3-ec086b02610b', '591cb2e9-23d2-11e8-a6a3-ec086b02610b', '59b93874-23d2-11e8-a6a3-ec086b02610b', '596eedf3-23d2-11e8-a6a3-ec086b02610b', '588c1506-23d2-11e8-a6a3-ec086b02610b', '58857c80-23d2-11e8-a6a3-ec086b02610b', '58a53100-23d2-11e8-a6a3-ec086b02610b', '5a0494cd-23d2-11e8-a6a3-ec086b02610b', '59279dea-23d2-11e8-a6a3-ec086b02610b', '587183f4-23d2-11e8-a6a3-ec086b02610b', '58d61288-23d2-11e8-a6a3-ec086b02610b', '59e91c45-23d2-11e8-a6a3-ec086b02610b', '597e611b-23d2-11e8-a6a3-ec086b02610b', '58960997-23d2-11e8-a6a3-ec086b02610b', '5a015de0-23d2-11e8-a6a3-ec086b02610b', '5995ac88-23d2-11e8-a6a3-ec086b02610b', '59a49a8a-23d2-11e8-a6a3-ec086b02610b', '59b93a90-23d2-11e8-a6a3-ec086b02610b', '5a0e35dd-23d2-11e8-a6a3-ec086b02610b', '591807c0-23d2-11e8-a6a3-ec086b02610b', '5938c2b4-23d2-11e8-a6a3-ec086b02610b', '5976a256-23d2-11e8-a6a3-ec086b02610b', '58b66402-23d2-11e8-a6a3-ec086b02610b', '5971f94f-23d2-11e8-a6a3-ec086b02610b', '59180966-23d2-11e8-a6a3-ec086b02610b', '59421045-23d2-11e8-a6a3-ec086b02610b', '5888befb-23d2-11e8-a6a3-ec086b02610b', '59279c21-23d2-11e8-a6a3-ec086b02610b', '59830731-23d2-11e8-a6a3-ec086b02610b', '585da91c-23d2-11e8-a6a3-ec086b02610b', '59c31bb1-23d2-11e8-a6a3-ec086b02610b', '5930fff2-23d2-11e8-a6a3-ec086b02610b', '5a24a9e0-23d2-11e8-a6a3-ec086b02610b', '59830765-23d2-11e8-a6a3-ec086b02610b', '591cb180-23d2-11e8-a6a3-ec086b02610b', '590237b1-23d2-11e8-a6a3-ec086b02610b', '58a52fde-23d2-11e8-a6a3-ec086b02610b', '5906f25a-23d2-11e8-a6a3-ec086b02610b', '59673606-23d2-11e8-a6a3-ec086b02610b', '58ede155-23d2-11e8-a6a3-ec086b02610b', '59c4c141-23d2-11e8-a6a3-ec086b02610b', '588f6543-23d2-11e8-a6a3-ec086b02610b', '5973884f-23d2-11e8-a6a3-ec086b02610b', '59973ed6-23d2-11e8-a6a3-ec086b02610b', '5948445a-23d2-11e8-a6a3-ec086b02610b', '5a197c32-23d2-11e8-a6a3-ec086b02610b', '5935a829-23d2-11e8-a6a3-ec086b02610b', '58f8ce41-23d2-11e8-a6a3-ec086b02610b', '58a022f5-23d2-11e8-a6a3-ec086b02610b', '58a37a1b-23d2-11e8-a6a3-ec086b02610b', '5987b400-23d2-11e8-a6a3-ec086b02610b', '5995ae1e-23d2-11e8-a6a3-ec086b02610b', '58e40e19-23d2-11e8-a6a3-ec086b02610b', '59c17ace-23d2-11e8-a6a3-ec086b02610b', '59849773-23d2-11e8-a6a3-ec086b02610b', '598acedd-23d2-11e8-a6a3-ec086b02610b', '5906f22b-23d2-11e8-a6a3-ec086b02610b', '598ad0fb-23d2-11e8-a6a3-ec086b02610b', '5a163f19-23d2-11e8-a6a3-ec086b02610b', '58e283da-23d2-11e8-a6a3-ec086b02610b', '59a94e58-23d2-11e8-a6a3-ec086b02610b', '59f2c3e0-23d2-11e8-a6a3-ec086b02610b', '5919978d-23d2-11e8-a6a3-ec086b02610b', '58c97c38-23d2-11e8-a6a3-ec086b02610b', '5858c0eb-23d2-11e8-a6a3-ec086b02610b', '58c03463-23d2-11e8-a6a3-ec086b02610b', '59a17c80-23d2-11e8-a6a3-ec086b02610b', '59fe2392-23d2-11e8-a6a3-ec086b02610b', '59d27e1d-23d2-11e8-a6a3-ec086b02610b', '597b4791-23d2-11e8-a6a3-ec086b02610b', '5a2af68c-23d2-11e8-a6a3-ec086b02610b', '58e7266e-23d2-11e8-a6a3-ec086b02610b', '596d64ac-23d2-11e8-a6a3-ec086b02610b', '58a37c5f-23d2-11e8-a6a3-ec086b02610b', '58a52db1-23d2-11e8-a6a3-ec086b02610b', '5a2af506-23d2-11e8-a6a3-ec086b02610b', '59341a1e-23d2-11e8-a6a3-ec086b02610b', '58c97ae6-23d2-11e8-a6a3-ec086b02610b', '59279dfb-23d2-11e8-a6a3-ec086b02610b', '592f70be-23d2-11e8-a6a3-ec086b02610b', '58a52ee9-23d2-11e8-a6a3-ec086b02610b', '59ddbfb7-23d2-11e8-a6a3-ec086b02610b', '59673657-23d2-11e8-a6a3-ec086b02610b', '59247b35-23d2-11e8-a6a3-ec086b02610b', '5a049568-23d2-11e8-a6a3-ec086b02610b', '59f945db-23d2-11e8-a6a3-ec086b02610b', '599be748-23d2-11e8-a6a3-ec086b02610b', '58e93926-23d2-11e8-a6a3-ec086b02610b', '5922eb62-23d2-11e8-a6a3-ec086b02610b', '59b61462-23d2-11e8-a6a3-ec086b02610b', '5865e41d-23d2-11e8-a6a3-ec086b02610b', '589cb238-23d2-11e8-a6a3-ec086b02610b', '58dc4b1c-23d2-11e8-a6a3-ec086b02610b', '591998ce-23d2-11e8-a6a3-ec086b02610b', '59fc7f98-23d2-11e8-a6a3-ec086b02610b', '58b82295-23d2-11e8-a6a3-ec086b02610b', '58f73dcc-23d2-11e8-a6a3-ec086b02610b', '593732b1-23d2-11e8-a6a3-ec086b02610b', '5931007b-23d2-11e8-a6a3-ec086b02610b', '58f5af95-23d2-11e8-a6a3-ec086b02610b', '599be8ba-23d2-11e8-a6a3-ec086b02610b', '59292fcf-23d2-11e8-a6a3-ec086b02610b', '59ddc17c-23d2-11e8-a6a3-ec086b02610b', '59751713-23d2-11e8-a6a3-ec086b02610b', '58bb8a3a-23d2-11e8-a6a3-ec086b02610b', '599a59d5-23d2-11e8-a6a3-ec086b02610b', '590a1061-23d2-11e8-a6a3-ec086b02610b', '58ac0ce7-23d2-11e8-a6a3-ec086b02610b', '58a52ed0-23d2-11e8-a6a3-ec086b02610b', '5922ee06-23d2-11e8-a6a3-ec086b02610b', '59782fe2-23d2-11e8-a6a3-ec086b02610b', '58bb8d06-23d2-11e8-a6a3-ec086b02610b', '5a2c85d3-23d2-11e8-a6a3-ec086b02610b', '59a7be90-23d2-11e8-a6a3-ec086b02610b', '58a8a2f3-23d2-11e8-a6a3-ec086b02610b', '59341b21-23d2-11e8-a6a3-ec086b02610b', '597b48df-23d2-11e8-a6a3-ec086b02610b', '59f79aa9-23d2-11e8-a6a3-ec086b02610b', '586fdbf6-23d2-11e8-a6a3-ec086b02610b', '585f4fde-23d2-11e8-a6a3-ec086b02610b', '5a02f962-23d2-11e8-a6a3-ec086b02610b', '592de640-23d2-11e8-a6a3-ec086b02610b', '599be98d-23d2-11e8-a6a3-ec086b02610b', '58d61239-23d2-11e8-a6a3-ec086b02610b', '59cb3715-23d2-11e8-a6a3-ec086b02610b', '59279ad3-23d2-11e8-a6a3-ec086b02610b', '59fc7dc3-23d2-11e8-a6a3-ec086b02610b', '59c804bc-23d2-11e8-a6a3-ec086b02610b', '59738929-23d2-11e8-a6a3-ec086b02610b', '585a6475-23d2-11e8-a6a3-ec086b02610b', '58cb1387-23d2-11e8-a6a3-ec086b02610b', '5a1cb1c2-23d2-11e8-a6a3-ec086b02610b', '59bfded3-23d2-11e8-a6a3-ec086b02610b', '58d614dd-23d2-11e8-a6a3-ec086b02610b', '58d61380-23d2-11e8-a6a3-ec086b02610b', '59ac6adf-23d2-11e8-a6a3-ec086b02610b', '585daab6-23d2-11e8-a6a3-ec086b02610b', '5949cdfe-23d2-11e8-a6a3-ec086b02610b', '587d3f79-23d2-11e8-a6a3-ec086b02610b', '5a217782-23d2-11e8-a6a3-ec086b02610b', '5a14a5bf-23d2-11e8-a6a3-ec086b02610b', '58b9d63f-23d2-11e8-a6a3-ec086b02610b', '58910fb6-23d2-11e8-a6a3-ec086b02610b', '599106f8-23d2-11e8-a6a3-ec086b02610b', '588c11ad-23d2-11e8-a6a3-ec086b02610b', '5892b713-23d2-11e8-a6a3-ec086b02610b', '59783143-23d2-11e8-a6a3-ec086b02610b', '5874d451-23d2-11e8-a6a3-ec086b02610b', '59973fcb-23d2-11e8-a6a3-ec086b02610b', '58bb8abb-23d2-11e8-a6a3-ec086b02610b', '5900a3ff-23d2-11e8-a6a3-ec086b02610b', '59b93ab3-23d2-11e8-a6a3-ec086b02610b', '585daaec-23d2-11e8-a6a3-ec086b02610b', '588dbd3f-23d2-11e8-a6a3-ec086b02610b', '58d93063-23d2-11e8-a6a3-ec086b02610b', '58eac8fd-23d2-11e8-a6a3-ec086b02610b', '58c035e1-23d2-11e8-a6a3-ec086b02610b', '59eab7f4-23d2-11e8-a6a3-ec086b02610b', '5900a111-23d2-11e8-a6a3-ec086b02610b', '5a13083f-23d2-11e8-a6a3-ec086b02610b', '59fe2326-23d2-11e8-a6a3-ec086b02610b', '59aad9cc-23d2-11e8-a6a3-ec086b02610b', '597e6328-23d2-11e8-a6a3-ec086b02610b', '5a0c9bf7-23d2-11e8-a6a3-ec086b02610b', '5995ad51-23d2-11e8-a6a3-ec086b02610b', '59bfdeec-23d2-11e8-a6a3-ec086b02610b', '58f10926-23d2-11e8-a6a3-ec086b02610b', '58ce3df3-23d2-11e8-a6a3-ec086b02610b', '58809391-23d2-11e8-a6a3-ec086b02610b', '59439f8a-23d2-11e8-a6a3-ec086b02610b', '593bdb67-23d2-11e8-a6a3-ec086b02610b', '59c17732-23d2-11e8-a6a3-ec086b02610b', '5a0b013c-23d2-11e8-a6a3-ec086b02610b', '58e28115-23d2-11e8-a6a3-ec086b02610b', '59d7518c-23d2-11e8-a6a3-ec086b02610b', '59ccd216-23d2-11e8-a6a3-ec086b02610b', '598ad0bb-23d2-11e8-a6a3-ec086b02610b', '59292f8e-23d2-11e8-a6a3-ec086b02610b', '5a1307ea-23d2-11e8-a6a3-ec086b02610b', '58cb13e9-23d2-11e8-a6a3-ec086b02610b', '596eedda-23d2-11e8-a6a3-ec086b02610b', '593a4ec0-23d2-11e8-a6a3-ec086b02610b', '59f5ff5d-23d2-11e8-a6a3-ec086b02610b', '586292a1-23d2-11e8-a6a3-ec086b02610b', '5a24a977-23d2-11e8-a6a3-ec086b02610b', '58857ca6-23d2-11e8-a6a3-ec086b02610b', '592abe3f-23d2-11e8-a6a3-ec086b02610b', '58adc3e8-23d2-11e8-a6a3-ec086b02610b', '5a1e5203-23d2-11e8-a6a3-ec086b02610b', '586291e0-23d2-11e8-a6a3-ec086b02610b', '5935a80a-23d2-11e8-a6a3-ec086b02610b', '59087ef1-23d2-11e8-a6a3-ec086b02610b', '5a049342-23d2-11e8-a6a3-ec086b02610b', '5883e7b0-23d2-11e8-a6a3-ec086b02610b', '58d47e0e-23d2-11e8-a6a3-ec086b02610b', '5a0c9d56-23d2-11e8-a6a3-ec086b02610b', '59b7a805-23d2-11e8-a6a3-ec086b02610b', '5a0968ba-23d2-11e8-a6a3-ec086b02610b', '59e441e6-23d2-11e8-a6a3-ec086b02610b', '59d8ecb7-23d2-11e8-a6a3-ec086b02610b', '5a24a841-23d2-11e8-a6a3-ec086b02610b', '5965a905-23d2-11e8-a6a3-ec086b02610b', '5858c2a6-23d2-11e8-a6a3-ec086b02610b', '5879d245-23d2-11e8-a6a3-ec086b02610b', '597b49d4-23d2-11e8-a6a3-ec086b02610b', '59c1792d-23d2-11e8-a6a3-ec086b02610b', '59a17b97-23d2-11e8-a6a3-ec086b02610b', '59adfde5-23d2-11e8-a6a3-ec086b02610b', '591cb323-23d2-11e8-a6a3-ec086b02610b', '58f29401-23d2-11e8-a6a3-ec086b02610b', '5864364b-23d2-11e8-a6a3-ec086b02610b', '58e40c9b-23d2-11e8-a6a3-ec086b02610b', '597cd571-23d2-11e8-a6a3-ec086b02610b', '58dc4c17-23d2-11e8-a6a3-ec086b02610b', '590b9bf9-23d2-11e8-a6a3-ec086b02610b', '59c66b54-23d2-11e8-a6a3-ec086b02610b', '59df5b84-23d2-11e8-a6a3-ec086b02610b', '5a07ce6a-23d2-11e8-a6a3-ec086b02610b', '58678e4f-23d2-11e8-a6a3-ec086b02610b', '59c668cb-23d2-11e8-a6a3-ec086b02610b', '58f8cf46-23d2-11e8-a6a3-ec086b02610b', '5892b48e-23d2-11e8-a6a3-ec086b02610b', '58a37a03-23d2-11e8-a6a3-ec086b02610b', '59941e3d-23d2-11e8-a6a3-ec086b02610b', '59c804e8-23d2-11e8-a6a3-ec086b02610b', '5903cc4d-23d2-11e8-a6a3-ec086b02610b', '5892b624-23d2-11e8-a6a3-ec086b02610b', '5940827d-23d2-11e8-a6a3-ec086b02610b', '5883ea52-23d2-11e8-a6a3-ec086b02610b', '589cb370-23d2-11e8-a6a3-ec086b02610b', '59055ee4-23d2-11e8-a6a3-ec086b02610b', '59023809-23d2-11e8-a6a3-ec086b02610b', '5a24a993-23d2-11e8-a6a3-ec086b02610b', '5a02fc48-23d2-11e8-a6a3-ec086b02610b', '59a94eae-23d2-11e8-a6a3-ec086b02610b', '58d16123-23d2-11e8-a6a3-ec086b02610b', '5934184d-23d2-11e8-a6a3-ec086b02610b', '588c1307-23d2-11e8-a6a3-ec086b02610b', '5a015e75-23d2-11e8-a6a3-ec086b02610b', '5a17dff4-23d2-11e8-a6a3-ec086b02610b', '597cd78e-23d2-11e8-a6a3-ec086b02610b', '589110cb-23d2-11e8-a6a3-ec086b02610b', '59d5b55f-23d2-11e8-a6a3-ec086b02610b', '59e102e4-23d2-11e8-a6a3-ec086b02610b', '5a2c8573-23d2-11e8-a6a3-ec086b02610b', '586fdd2d-23d2-11e8-a6a3-ec086b02610b', '59104c12-23d2-11e8-a6a3-ec086b02610b', '58960843-23d2-11e8-a6a3-ec086b02610b', '59260df5-23d2-11e8-a6a3-ec086b02610b', '597e61f8-23d2-11e8-a6a3-ec086b02610b', '588719e1-23d2-11e8-a6a3-ec086b02610b', '599fc079-23d2-11e8-a6a3-ec086b02610b', '58960780-23d2-11e8-a6a3-ec086b02610b', '59ec54dc-23d2-11e8-a6a3-ec086b02610b', '59e10288-23d2-11e8-a6a3-ec086b02610b', '590ebd8d-23d2-11e8-a6a3-ec086b02610b', '58d2eabf-23d2-11e8-a6a3-ec086b02610b', '588a65d2-23d2-11e8-a6a3-ec086b02610b', '5865e2bc-23d2-11e8-a6a3-ec086b02610b', '597386d6-23d2-11e8-a6a3-ec086b02610b', '59ac6cc3-23d2-11e8-a6a3-ec086b02610b', '59fe21e3-23d2-11e8-a6a3-ec086b02610b', '58c036c0-23d2-11e8-a6a3-ec086b02610b', '58a8a371-23d2-11e8-a6a3-ec086b02610b', '59ffbc1f-23d2-11e8-a6a3-ec086b02610b', '5998cecb-23d2-11e8-a6a3-ec086b02610b', '59d8eb2c-23d2-11e8-a6a3-ec086b02610b', '5a197c83-23d2-11e8-a6a3-ec086b02610b', '58af7507-23d2-11e8-a6a3-ec086b02610b', '598de945-23d2-11e8-a6a3-ec086b02610b', '59260c17-23d2-11e8-a6a3-ec086b02610b', '5987b493-23d2-11e8-a6a3-ec086b02610b', '591b23a7-23d2-11e8-a6a3-ec086b02610b', '5930fe72-23d2-11e8-a6a3-ec086b02610b', '59cf4809-23d2-11e8-a6a3-ec086b02610b', '59f460ca-23d2-11e8-a6a3-ec086b02610b', '59f128b5-23d2-11e8-a6a3-ec086b02610b', '59cf471d-23d2-11e8-a6a3-ec086b02610b', '59cf472c-23d2-11e8-a6a3-ec086b02610b', '599fbfc4-23d2-11e8-a6a3-ec086b02610b', '58e724cf-23d2-11e8-a6a3-ec086b02610b', '586c8867-23d2-11e8-a6a3-ec086b02610b', '5a0e34a7-23d2-11e8-a6a3-ec086b02610b', '5a21771f-23d2-11e8-a6a3-ec086b02610b', '598c5bee-23d2-11e8-a6a3-ec086b02610b', '59e2a468-23d2-11e8-a6a3-ec086b02610b', '5a24a89d-23d2-11e8-a6a3-ec086b02610b', '59a7be27-23d2-11e8-a6a3-ec086b02610b', '58b4a95b-23d2-11e8-a6a3-ec086b02610b', '590d2c21-23d2-11e8-a6a3-ec086b02610b', '5a07cea8-23d2-11e8-a6a3-ec086b02610b', '59d5b853-23d2-11e8-a6a3-ec086b02610b', '59ffba53-23d2-11e8-a6a3-ec086b02610b', '58af759d-23d2-11e8-a6a3-ec086b02610b', '588f6634-23d2-11e8-a6a3-ec086b02610b', '59c99fa1-23d2-11e8-a6a3-ec086b02610b', '59bac8fb-23d2-11e8-a6a3-ec086b02610b', '58ddd52c-23d2-11e8-a6a3-ec086b02610b', '58a8a079-23d2-11e8-a6a3-ec086b02610b', '59087e60-23d2-11e8-a6a3-ec086b02610b', '599be8ec-23d2-11e8-a6a3-ec086b02610b', '590ebc8c-23d2-11e8-a6a3-ec086b02610b', '59055d92-23d2-11e8-a6a3-ec086b02610b', '5a116b81-23d2-11e8-a6a3-ec086b02610b', '5879d519-23d2-11e8-a6a3-ec086b02610b', '59ccd12e-23d2-11e8-a6a3-ec086b02610b', '59167b1a-23d2-11e8-a6a3-ec086b02610b', '59d8ed46-23d2-11e8-a6a3-ec086b02610b', '59439f7f-23d2-11e8-a6a3-ec086b02610b', '59247bb7-23d2-11e8-a6a3-ec086b02610b', '58c034d9-23d2-11e8-a6a3-ec086b02610b', '59eab92b-23d2-11e8-a6a3-ec086b02610b', '58c34eaf-23d2-11e8-a6a3-ec086b02610b', '5900a1ad-23d2-11e8-a6a3-ec086b02610b', '5a17dcee-23d2-11e8-a6a3-ec086b02610b', '585da8a8-23d2-11e8-a6a3-ec086b02610b', '59452b7e-23d2-11e8-a6a3-ec086b02610b', '59910404-23d2-11e8-a6a3-ec086b02610b', '58e93b1b-23d2-11e8-a6a3-ec086b02610b', '5a2177de-23d2-11e8-a6a3-ec086b02610b', '58fa6001-23d2-11e8-a6a3-ec086b02610b', '59fe2386-23d2-11e8-a6a3-ec086b02610b', '59cf4687-23d2-11e8-a6a3-ec086b02610b', '58f42402-23d2-11e8-a6a3-ec086b02610b', '591cb0c7-23d2-11e8-a6a3-ec086b02610b', '58823cc1-23d2-11e8-a6a3-ec086b02610b', '5a02fc55-23d2-11e8-a6a3-ec086b02610b', '58c4d7e8-23d2-11e8-a6a3-ec086b02610b', '58643501-23d2-11e8-a6a3-ec086b02610b', '59cf463d-23d2-11e8-a6a3-ec086b02610b', '586436b5-23d2-11e8-a6a3-ec086b02610b', '5911d827-23d2-11e8-a6a3-ec086b02610b', '5a296435-23d2-11e8-a6a3-ec086b02610b', '59e441b7-23d2-11e8-a6a3-ec086b02610b', '59f2c60e-23d2-11e8-a6a3-ec086b02610b', '5888be20-23d2-11e8-a6a3-ec086b02610b', '59d5b84d-23d2-11e8-a6a3-ec086b02610b', '59d8eb37-23d2-11e8-a6a3-ec086b02610b', '5a2af674-23d2-11e8-a6a3-ec086b02610b', '59d41988-23d2-11e8-a6a3-ec086b02610b', '59f79a44-23d2-11e8-a6a3-ec086b02610b', '5a116e8a-23d2-11e8-a6a3-ec086b02610b', '591367d2-23d2-11e8-a6a3-ec086b02610b', '59408208-23d2-11e8-a6a3-ec086b02610b', '58f42358-23d2-11e8-a6a3-ec086b02610b', '58a379ab-23d2-11e8-a6a3-ec086b02610b', '591e423a-23d2-11e8-a6a3-ec086b02610b', '59e10230-23d2-11e8-a6a3-ec086b02610b', '597fef4a-23d2-11e8-a6a3-ec086b02610b', '598623c5-23d2-11e8-a6a3-ec086b02610b', '599d7c56-23d2-11e8-a6a3-ec086b02610b', '589e690c-23d2-11e8-a6a3-ec086b02610b', '5935a955-23d2-11e8-a6a3-ec086b02610b', '58d7a319-23d2-11e8-a6a3-ec086b02610b', '58c662c4-23d2-11e8-a6a3-ec086b02610b', '585a6432-23d2-11e8-a6a3-ec086b02610b', '58c03475-23d2-11e8-a6a3-ec086b02610b', '59087ffc-23d2-11e8-a6a3-ec086b02610b', '5a1e51ec-23d2-11e8-a6a3-ec086b02610b', '588096bb-23d2-11e8-a6a3-ec086b02610b', '588c1398-23d2-11e8-a6a3-ec086b02610b', '59df5cc8-23d2-11e8-a6a3-ec086b02610b', '59420e62-23d2-11e8-a6a3-ec086b02610b', '58857c8e-23d2-11e8-a6a3-ec086b02610b', '5a217924-23d2-11e8-a6a3-ec086b02610b', '58fa5e96-23d2-11e8-a6a3-ec086b02610b', '599a5bee-23d2-11e8-a6a3-ec086b02610b', '59fae618-23d2-11e8-a6a3-ec086b02610b', '5a096a0a-23d2-11e8-a6a3-ec086b02610b', '590235eb-23d2-11e8-a6a3-ec086b02610b', '59421072-23d2-11e8-a6a3-ec086b02610b', '5897b131-23d2-11e8-a6a3-ec086b02610b', '58857d9c-23d2-11e8-a6a3-ec086b02610b', '58678cc5-23d2-11e8-a6a3-ec086b02610b', '5905608b-23d2-11e8-a6a3-ec086b02610b', '58adc362-23d2-11e8-a6a3-ec086b02610b', '58732d5e-23d2-11e8-a6a3-ec086b02610b', '58732df2-23d2-11e8-a6a3-ec086b02610b', '59e5e212-23d2-11e8-a6a3-ec086b02610b', '58d7a421-23d2-11e8-a6a3-ec086b02610b', '58b6659b-23d2-11e8-a6a3-ec086b02610b', '59439c71-23d2-11e8-a6a3-ec086b02610b', '5a263906-23d2-11e8-a6a3-ec086b02610b', '59be3fb2-23d2-11e8-a6a3-ec086b02610b', '589b03a4-23d2-11e8-a6a3-ec086b02610b', '58c4d898-23d2-11e8-a6a3-ec086b02610b', '5a049432-23d2-11e8-a6a3-ec086b02610b', '5968c184-23d2-11e8-a6a3-ec086b02610b', '58f73e2c-23d2-11e8-a6a3-ec086b02610b', '58e72663-23d2-11e8-a6a3-ec086b02610b', '59d8ebf6-23d2-11e8-a6a3-ec086b02610b', '58871a2d-23d2-11e8-a6a3-ec086b02610b', '5a230f1b-23d2-11e8-a6a3-ec086b02610b', '5938c30b-23d2-11e8-a6a3-ec086b02610b', '5897b0bc-23d2-11e8-a6a3-ec086b02610b', '5995aea1-23d2-11e8-a6a3-ec086b02610b', '5965ab6f-23d2-11e8-a6a3-ec086b02610b', '59ffbbc6-23d2-11e8-a6a3-ec086b02610b', '591e4073-23d2-11e8-a6a3-ec086b02610b', '58732e86-23d2-11e8-a6a3-ec086b02610b', '58fbec13-23d2-11e8-a6a3-ec086b02610b', '59cb3919-23d2-11e8-a6a3-ec086b02610b', '5946b846-23d2-11e8-a6a3-ec086b02610b', '598623ab-23d2-11e8-a6a3-ec086b02610b', '58b82093-23d2-11e8-a6a3-ec086b02610b', '59fae715-23d2-11e8-a6a3-ec086b02610b', '5858c24e-23d2-11e8-a6a3-ec086b02610b', '58f29702-23d2-11e8-a6a3-ec086b02610b', '5a296492-23d2-11e8-a6a3-ec086b02610b', '59f463b4-23d2-11e8-a6a3-ec086b02610b', '59a7bf00-23d2-11e8-a6a3-ec086b02610b',

In [46]:
len(not_common)

1080

In [49]:
not_common[:5]  # Display first 10 items not common in both columns

['59dc25fc-23d2-11e8-a6a3-ec086b02610b',
 '5967370c-23d2-11e8-a6a3-ec086b02610b',
 '59bac8fe-23d2-11e8-a6a3-ec086b02610b',
 '597b48c4-23d2-11e8-a6a3-ec086b02610b',
 '5a27d7d1-23d2-11e8-a6a3-ec086b02610b']

In [44]:
bboxes_images_df[bboxes_images_df['id']==not_common[0]]

,file_name,seq_id,height,id,frame_num,width,date_captured,rights_holder,seq_num_frames,location
47472,59dc25fc-23d2-11e8-a6a3-ec086b02610b.jpg,6f02f46e-5567-11e8-8929-dca9047ef277,1494,59dc25fc-23d2-11e8-a6a3-ec086b02610b,2,2048,2012-03-02 19:18:27,Justin Brown,3,38

In [50]:
bboxes_images_df.head()

,file_name,seq_id,height,id,frame_num,width,date_captured,rights_holder,seq_num_frames,location
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg,6f084ccc-5567-11e8-bc84-dca9047ef277,1494,5998cfa4-23d2-11e8-a6a3-ec086b02610b,1,2048,2011-05-13 23:43:18,Justin Brown,3,33
1,588a679f-23d2-11e8-a6a3-ec086b02610b.jpg,6f12067d-5567-11e8-b3c0-dca9047ef277,1494,588a679f-23d2-11e8-a6a3-ec086b02610b,2,2048,2012-03-17 03:48:44,Justin Brown,3,115
2,593d68d7-23d2-11e8-a6a3-ec086b02610b.jpg,6f0f6778-5567-11e8-b5d2-dca9047ef277,1494,593d68d7-23d2-11e8-a6a3-ec086b02610b,3,2048,2011-06-28 15:29:42,Justin Brown,3,90
3,59fae563-23d2-11e8-a6a3-ec086b02610b.jpg,6f181999-5567-11e8-a472-dca9047ef277,1494,59fae563-23d2-11e8-a6a3-ec086b02610b,3,2048,2012-01-05 07:41:39,Justin Brown,3,46
4,595f7b9c-23d2-11e8-a6a3-ec086b02610b.jpg,701cb328-5567-11e8-8d4a-dca9047ef277,1494,595f7b9c-23d2-11e8-a6a3-ec086b02610b,2,2048,2014-09-28 01:00:53,Justin Brown,3,67

In [54]:
bboxes_images_df.head()

,file_name,seq_id,height,id,frame_num,width,date_captured,rights_holder,seq_num_frames,location
0,5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg,6f084ccc-5567-11e8-bc84-dca9047ef277,1494,5998cfa4-23d2-11e8-a6a3-ec086b02610b,1,2048,2011-05-13 23:43:18,Justin Brown,3,33
1,588a679f-23d2-11e8-a6a3-ec086b02610b.jpg,6f12067d-5567-11e8-b3c0-dca9047ef277,1494,588a679f-23d2-11e8-a6a3-ec086b02610b,2,2048,2012-03-17 03:48:44,Justin Brown,3,115
2,593d68d7-23d2-11e8-a6a3-ec086b02610b.jpg,6f0f6778-5567-11e8-b5d2-dca9047ef277,1494,593d68d7-23d2-11e8-a6a3-ec086b02610b,3,2048,2011-06-28 15:29:42,Justin Brown,3,90
3,59fae563-23d2-11e8-a6a3-ec086b02610b.jpg,6f181999-5567-11e8-a472-dca9047ef277,1494,59fae563-23d2-11e8-a6a3-ec086b02610b,3,2048,2012-01-05 07:41:39,Justin Brown,3,46
4,595f7b9c-23d2-11e8-a6a3-ec086b02610b.jpg,701cb328-5567-11e8-8d4a-dca9047ef277,1494,595f7b9c-23d2-11e8-a6a3-ec086b02610b,2,2048,2014-09-28 01:00:53,Justin Brown,3,67

In [60]:
unbounded_images_df = bboxes_images_df[bboxes_images_df['id'].isin(not_common)]
unbounded_images_df.head()

,file_name,seq_id,height,id,frame_num,width,date_captured,rights_holder,seq_num_frames,location
9,59bac8fe-23d2-11e8-a6a3-ec086b02610b.jpg,701361b0-5567-11e8-959e-dca9047ef277,1494,59bac8fe-23d2-11e8-a6a3-ec086b02610b,1,2048,2013-02-09 10:47:54,Justin Brown,3,61
170,58c4d8d9-23d2-11e8-a6a3-ec086b02610b.jpg,6f16484a-5567-11e8-bdf4-dca9047ef277,1494,58c4d8d9-23d2-11e8-a6a3-ec086b02610b,3,2048,2012-04-23 13:23:14,Justin Brown,3,125
249,58d7a2b0-23d2-11e8-a6a3-ec086b02610b.jpg,6f13e53a-5567-11e8-9674-dca9047ef277,1494,58d7a2b0-23d2-11e8-a6a3-ec086b02610b,1,2048,2011-08-13 06:13:42,Justin Brown,3,88
253,589cb238-23d2-11e8-a6a3-ec086b02610b.jpg,6f14932e-5567-11e8-8d6e-dca9047ef277,1494,589cb238-23d2-11e8-a6a3-ec086b02610b,3,2048,2012-04-08 17:53:10,Justin Brown,3,88
264,59f128b5-23d2-11e8-a6a3-ec086b02610b.jpg,6efeea54-5567-11e8-b765-dca9047ef277,1494,59f128b5-23d2-11e8-a6a3-ec086b02610b,2,2048,2011-06-29 07:40:11,Justin Brown,3,38

In [57]:
len(unbounded_images_df)

1080

In [63]:
unbounded_images_df.head()

,file_name,seq_id,height,id,frame_num,width,date_captured,rights_holder,seq_num_frames,location
9,59bac8fe-23d2-11e8-a6a3-ec086b02610b.jpg,701361b0-5567-11e8-959e-dca9047ef277,1494,59bac8fe-23d2-11e8-a6a3-ec086b02610b,1,2048,2013-02-09 10:47:54,Justin Brown,3,61
170,58c4d8d9-23d2-11e8-a6a3-ec086b02610b.jpg,6f16484a-5567-11e8-bdf4-dca9047ef277,1494,58c4d8d9-23d2-11e8-a6a3-ec086b02610b,3,2048,2012-04-23 13:23:14,Justin Brown,3,125
249,58d7a2b0-23d2-11e8-a6a3-ec086b02610b.jpg,6f13e53a-5567-11e8-9674-dca9047ef277,1494,58d7a2b0-23d2-11e8-a6a3-ec086b02610b,1,2048,2011-08-13 06:13:42,Justin Brown,3,88
253,589cb238-23d2-11e8-a6a3-ec086b02610b.jpg,6f14932e-5567-11e8-8d6e-dca9047ef277,1494,589cb238-23d2-11e8-a6a3-ec086b02610b,3,2048,2012-04-08 17:53:10,Justin Brown,3,88
264,59f128b5-23d2-11e8-a6a3-ec086b02610b.jpg,6efeea54-5567-11e8-b765-dca9047ef277,1494,59f128b5-23d2-11e8-a6a3-ec086b02610b,2,2048,2011-06-29 07:40:11,Justin Brown,3,38

In [68]:
unbounded_images_df['location'].to_list().map(loc_to_splitType_df['splitType'])

AttributeError: 'list' object has no attribute 'map'

In [58]:
unbounded_images_df['location'].map(loc_to_splitType_df['splitType'])

9        train
170        val
249      train
253      train
264      train
         ...
62428      val
62435    train
62506    train
62589    train
62808      val
Name: location, Length: 1080, dtype: object

In [53]:
[bboxes_images_df[bboxes_images_df['id']== image_id] for image_id in not_common][]

AttributeError: 'list' object has no attribute 'head'

In [72]:
x = '59bac8fe-23d2-11e8-a6a3-ec086b02610b'
unbounded_images_df[unbounded_images_df['id'] == x]['location'].values[0]

'61'

In [71]:

empty_bboxes_df['image_id'].apply(lambda x: unbounded_images_df[unbounded_images_df['id'] == x]['location'].values[0])

1080

In [75]:
# create a new df for 1080 missing images
# 2.3 use bbox annotation json as base and add location and train/val split type for each annotation entry
empty_bboxes_df = []
empty_bboxes_df = pd.DataFrame({
    'image_id': not_common,    
})
empty_bboxes_df['id'] = empty_bboxes_df['image_id']  # use image_id as id
empty_bboxes_df['location'] = empty_bboxes_df['image_id'].map(image_id_to_location_df['location'])
empty_bboxes_df['location_fromJSON'] = empty_bboxes_df['image_id'].apply(lambda x: unbounded_images_df[unbounded_images_df['id'] == x]['location'].values[0])

empty_bboxes_df['splitType'] = empty_bboxes_df['location'].map(loc_to_splitType_df['splitType'])


empty_bboxes_df.head()

,image_id,id,location,location_fromJSON,splitType
0,59dc25fc-23d2-11e8-a6a3-ec086b02610b,59dc25fc-23d2-11e8-a6a3-ec086b02610b,38,38,train
1,5967370c-23d2-11e8-a6a3-ec086b02610b,5967370c-23d2-11e8-a6a3-ec086b02610b,46,46,val
2,59bac8fe-23d2-11e8-a6a3-ec086b02610b,59bac8fe-23d2-11e8-a6a3-ec086b02610b,61,61,train
3,597b48c4-23d2-11e8-a6a3-ec086b02610b,597b48c4-23d2-11e8-a6a3-ec086b02610b,46,46,val
4,5a27d7d1-23d2-11e8-a6a3-ec086b02610b,5a27d7d1-23d2-11e8-a6a3-ec086b02610b,46,46,val

In [77]:
bboxes_annotations_df[bboxes_annotations_df['image_id'] == '59dc25fc-23d2-11e8-a6a3-ec086b02610b']

Empty DataFrame
Columns: [image_id, id, bbox, category_id]
Index: []